* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #111111;
}

.main-header-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #FFF;
}
.main-header-container .header-top-container {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  height: 39px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 32px 0 0;
}
.main-header-container .header-top-container .header-top-left {
  display: flex;
}
.main-header-container .header-top-container .header-top-left div {
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-right: 1px solid #e5e5e5;
}
.main-header-container .header-top-container .header-top-right {
  display: flex;
  align-items: center;
}
.main-header-container .header-bottom-container {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  padding: 16px 32px;
}
.main-header-container .header-bottom-container .header-bottom-middle {
  display: flex;
  justify-content: space-between;
}
.main-header-container .header-bottom-container .header-bottom-middle div {
  padding: 0 20px;
  font-weight: bold;
}
.main-header-container .header-bottom-container .header-bottom-right .search-box {
  position: relative;
  width: 194px;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 3px 0 0 3px;
}
.main-header-container .header-bottom-container .header-bottom-right .search-box img {
  position: absolute;
  top: 8px;
  left: 10px;
}
.main-header-container .header-bottom-container .header-bottom-right .search-box input {
  border: none;
  position: absolute;
  top: 12px;
  left: 45px;
}

.main-content-body-container {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding-top: 118px;
}
.main-content-body-container .banner-container {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: #f7f7f7;
  width: 100%;
}
.main-content-body-container .banner-container .banner-sub-container {
  display: flex;
  align-items: center;
}
.main-content-body-container .banner-container .banner-sub-container div:nth-child(1) {
  margin-right: 80px;
}
.main-content-body-container .banner-container .banner-sub-container div:nth-child(2) {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}
.main-content-body-container .banner-container .banner-sub-container div:nth-child(3) {
  text-align: center;
  margin-right: 20px;
}
.main-content-body-container .banner-container .banner-sub-container div:nth-child(3) span {
  display: block;
}
.main-content-body-container .banner-container .banner-sub-container div:nth-child(4) {
  text-decoration: underline;
}
.main-content-body-container .main-content-caption-container {
  padding-top: 40px;
  text-align: center;
}
.main-content-body-container .main-content-caption-container p {
  margin: 20px 0 30px 0;
}
.main-content-body-container .main-content-caption-container button {
  padding: 5px 20px;
  font-size: 9px;
  font-weight: bold;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 2px;
}
.main-content-body-container .main-video-promo-container {
  width: 100%;
}
.main-content-body-container .main-video-promo-container video {
  width: 100%;
}
.main-content-body-container .this-weeks-picks-container {
  width: 100%;
  margin: 100px 0 40px 0;
}
.main-content-body-container .this-weeks-picks-container .shoe-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-content-body-container .this-weeks-picks-container .shoe-image-container div {
  max-width: 100%;
  margin: 5px;
}
.main-content-body-container .this-weeks-picks-container .shoe-image-container div img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.main-content-body-container .main-promos-container {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-content-body-container .main-promos-container div {
  position: relative;
  margin-bottom: 10px;
}
.main-content-body-container .main-promos-container div .promo {
  position: absolute;
}
.main-content-body-container .main-promos-container div .promo h1, .main-content-body-container .main-promos-container div .promo h3 {
  color: #FFF;
}
.main-content-body-container .main-promos-container div .promo h3 {
  margin: 5px 0 20px 0;
  font-weight: normal;
}
.main-content-body-container .main-promos-container div .promo button {
  background-color: #FFF;
  border-radius: 2px;
  padding: 12px 20px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -1px;
}
.main-content-body-container .main-promos-container div img {
  max-width: 100%;
  height: auto;
}
.main-content-body-container .main-promos-container .promo-row-1, .main-content-body-container .main-promos-container .promo-row-3 {
  display: flex;
}
.main-content-body-container .main-promos-container .promo-row-1 .promo {
  left: 60px;
  bottom: 60px;
}
.main-content-body-container .main-promos-container .promo-row-2 .promo {
  right: 60px;
  bottom: 60px;
  text-align: right;
}
.main-content-body-container .main-promos-container .promo-row-3 div:nth-child(1) {
  padding-right: 10px;
}
.main-content-body-container .main-promos-container .promo-row-3 div:nth-child(1) .promo {
  left: 60px;
  bottom: 60px;
}
.main-content-body-container .main-promos-container .promo-row-3 div:nth-child(2) .promo {
  right: 60px;
  bottom: 60px;
  text-align: right;
}

/*# sourceMappingURL=output.css.map */
