.main-footer-container {
  background-color: #191919;
  padding: 42px 42px 20px 42px;
  .footer-top-container {
    @include flexRow;
    padding-bottom: 42px;
    border-bottom: 1px solid rgb(68,68,68);
    margin-bottom: 20px;
    .footer-top-left {
      @include flexRow;
      div {
        &:nth-child(2) {
          margin: 0 50px;
        }
        ul {
          list-style-type: none;
          h6 {
            font-size: 12px;
          }
          h6, li {
            color: #FFF;
            margin-bottom: 14px;
          }
          li {
            font-size: 12px;
            color: $liGreyFontColor;
            cursor: pointer;
          }
        }
      }
    }

    .footer-top-right {
      div {
        display: inline-block;
        background-color: rgb(68,68,68);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding-top: 2px;
        text-align: center;
        &:nth-child(2) {
          margin: 0 10px;
        }
        &:nth-child(3) {
          margin-right: 10px;
        }
        i {
          font-size: 12px;
        }
      }
    }
  } // footer top container end

  .footer-bottom-container {
    @include flexRow;
    font-size: 12px;
    div {
      @include flexRow;
      p, span {
        color: $liGreyFontColor;
      }
    }
    .footer-bottom-left {
      span {
        color: #FFF;
        margin: 0 15px;
      }
    }
    .footer-bottom-right {
      a {
        &:nth-child(2) {
          margin: 0 15px;
        }
      }
    }
  } // footer bottom container end
} // main footer container end
