@media screen and (max-width: 554px) {
  .header-bottom-middle {
    margin-top: 20px;
    display: block!important;
  }
  .header-bottom-left, .header-bottom-middle {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 616px) {
  .footer-bottom-left {
    img, span {
      display: none;
    }
  }
}
@media screen and (max-width: 680px) {
  .footer-top-container {
    position: relative;
    .footer-top-right {
      position: absolute;
      bottom: 0;
      div {
        margin: 0 0 10px 0!important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header-top-container {
    flex-direction: column;
    align-items: center;
    padding-right: 0!important;
    height: auto!important;
    .header-top-left {
      width: 100%;
      justify-content: space-between;
      div {
        flex-grow: 1;
        padding: 0!important;
        border-bottom: 1px solid $ltGreyBorder;
        a {
          margin: 0 auto;
        }
      }
    }
  }
  .header-bottom-container {
    flex-direction: column;
    .header-bottom-left {
      width: 100%;
      display: flex;
      align-items: center;
      .hamburger-icon, a {
        flex-grow: 1;
      }
      .hamburger-icon {
        display: block;
      }
      a {
        img {
          float: left;
        }
      }
    }
    .header-bottom-middle, .header-bottom-right {
      display: none!important;
    }
    .mobile-menu {
      // display: block!important;
    }
  }
  .main-content-body-container {
    padding-top: 126px;
    .banner-container {
      display: none;
    }
  }
  .header-bottom-container {
    flex-wrap: wrap;
    .header-bottom-right {
      width: 100%;
      margin-top: 20px;
      .search-box {
        margin: 0 auto;
      }
    }
  }
  .shoe-image-sub-container {
    display: block!important;
    img {
      width: 100%;
    }
  }
  .promo-row-1, .promo-row-3 {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .shoe-image-container {
    flex-direction: column!important;
  }
}
